<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blue Ink Web</title>
    <link rel="stylesheet" herf="style.css">
</head>
<body>
    <div>
        <header>
            Blue Ink Web
        </header>
        <aside>
            Shopping Categories
        </aside>
        <main>
            <ul>
                <li>Product 1</li>
                <li>Product 2</li>
                <li>Product 3</li>
                <li>Product 4</li>
                <li>Product 5</li>
            </ul>
        </main>
        <footer>
            &copy; 2022 Blue Ink Web
        </footer>
    </div>
</body>
</html>